<html>
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>
  <p><%= @task.details %></p>
  <div class="form-group">
    <p><input type ="checkbox" checked><%= "This task is completed" %></p>
    </div>
  <%= link_to "Back to list", tasks_path %>

      <div class="form-group">
      <p><%= link_to "Edit this post", edit_task_path %></p>
      </div>

</body>
</html>
